@import '../../styles/vars';
.taskItem {
    background-color: $light-white;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    border: 2px solid $light;
    border-left: none;
    border-right: none;
    margin-bottom: -2px;
    transition: 0.2s;
    &:hover {
        background-color: $light-light-white;
    }
}

.taskTitle {
    margin-right: auto;
    margin-left: 34px;
    font-size: 30px;
    font-weight: 400;
    color: $light;
}

.taskResult {
    margin-right: 36px;
    margin-left: auto;
    font-size: 28px;
    font-weight: 300;
    color: $light-light;
}

.passIcon {
    min-width: 52px;
    transform: scale(75%) translateY(3px);
    margin-right: 20px;
}

.minMark {
    margin-right: 26px;
    color: $light-light;
    text-align: center;
    font-size: 20px;
    min-width: 52px;
    font-weight: 300;
}