$inputs-text-border-color: #1b496528;
$inputs-text-placeholder-color: #1111337F;
$primary: #1B4965;
$primary-light: #26668D;
$danger: #AF1B3F;
$bad: #FF7676;
$success: #77AD78;
$success-light: #77CF79;
$light: #757575;
$light-light: #c7c7c7;